@model AFAapp.Models.Tree


<!DOCTYPE html>


@{
    if ((bool)ViewData["Accepted"])
    {
        <p> The word is accepted. </p>
    }

    else
    {
        <p> The word is not accepted. </p>
    }
}


@{


    showTree2(new Tree(Model.letter, Model.state, Model.connectives, Model.children));
}

@functions
{

    public void showTree(Tree t, bool last = true, string indent = "")
    {

        string connectivesStr = "";


        <p> @indent </p>
        if (last)
        {
            <b> \\- </b>;
            indent += "  ";
        }
        else
        {
            <b> |- </b>
            indent += "| ";
        }

        foreach (var i in Model.connectives)
        {
            connectivesStr += i.Item1 + " ";
        }

        <b>@t.state @connectivesStr @t.letter</b>;

        for (int i = 0; i < t.children?.Count; i++)
        {
            showTree(t.children[i], i == t.children.Count - 1, indent);
        }
    }


    public void showTree2(Tree t)
    {

        <ul>
            <li>

                <b>@t.state</b>
                @foreach (var i in t.connectives)
                {
                    <b>@i.Item1</b>
                }

                @if (t.letter != '\0')
                {
                    <b>(@t.letter)</b>;

                }
                @if (t.children != null && t.children.Any())
                {
                    for (int i = 0; i < t.children?.Count; i++)
                    {
                        showTree2(t.children[i]);
                    }
                }
            </li>

        </ul>

    }

}


