@model AFAapp.Models.Tree


<!DOCTYPE html>


<head>
    <script>MathJax = {
            tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
        };</script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

</head>

<body>

    @{
        try
        {
            showTree(new Tree(Model.letter, Model.node, Model.connectives, Model.children));

            <p class="right-col-p" style="margin-top: 7%">
                Then, assigning <strong> true </strong> to <strong> final states </strong> and
                <strong>false</strong> to <strong>non-final states</strong> we get:
            </p>


            <p class="right-col-p"> <strong>@ViewData["stringToEval"].</strong></p>

            if ((bool)ViewData["Accepted"])
            {
                <p class="right-col-p">
                    This evaluates to <strong>@ViewData["accepted"]</strong> and therefore, the word <strong> "@ViewData["inputWord"]" </strong> is <strong>accepted</strong>.
                </p>
            }

            else
            {
                <p class="right-col-p">
                    This evaluates to <strong>@ViewData["accepted"]</strong> and therefore, the word <strong> "@ViewData["inputWord"]" </strong> is <strong>not</strong> accepted.
                </p>
            }
        }

        catch
        {
            if (ViewData.Keys.Contains("Error"))
            {
                <p class="text-danger right-col-p">  @ViewData["Error"] </p>
            }

        }
    }



    @functions
{

        public void showTree3(Tree t)
        {
            <ul>

                <li>
                    <b>@t.node</b>
                    @foreach (var i in t.connectives)
                    {
                        <b>@i.Item1</b>
                    }

                    @if (t.letter != '\0')
                    {
                        <b>(@t.letter)</b>;

                    }
                </li>
                @if (t.children != null && t.children.Any())
                {
                    for (int i = 0; i < t.children?.Count; i++)
                    {
                        showTree3(t.children[i]);
                    }
                }

            </ul>

        }

        public void show(Tree t)
        {


            @if (t.children != null && t.children.Any())
            {
                <ul>

                    @for (int i = 0; i < t.children.Count; i++)
                    {
                        @if (t.children[i].connectives != null && t.children[i].connectives.Any() && t.children[i].connectives[0].Item1 == "not")
                        {
                            var stateArr = Global.stringToArrayNoPar(t.node);

                            if (stateArr[0] == "not")
                            {
                                int height = t.height();
                                <li>
                                    <span>not</span>

                                    @for (int w = 0; w < height - 1; w++)
                                    {<br>
                                        <ul>
                                            <li>
                                                <span>not</span>
                                            </li>
                                        </ul>
                                    }


                                </li>
                            }
                        }

                        <li>
                            <span>
                                <b>@t.children[i].node</b>
                            </span>

                            @if (t.children[i].letter != '\0')
                            {
                                <b>(@t.children[i].letter)</b>
                            }


                            @for (int j = 0; j < 1; j++)
                            {
                                show(t.children[i]);
                            }


                        </li>
                        @if (t.children[i].connectives != null && t.children[i].connectives.Any())
                        {

                            if (i != (t.children.Count - 1))
                            {
                                var conList = new List<string>();
                                bool b = false;
                                <li>
                                    <span>
                                        @foreach (var con in t.children[i].connectives)
                                        {
                                            if (con.Item1 != "not")
                                            {
                                                b = true;
                                            }

                                            if (b)
                                            {
                                                conList.Add(con.Item1);
                                                <span> @con.Item1</span>
                                            }
                                        }

                                    </span>

                                    @{ int h = t.height();
                                        for (int r = 0; r < h - 1; r++)
                                        {
                                            <br>
                                            <ul>
                                                <li>

                                                    <span>
                                                        @foreach (var l in conList)
                                                        {
                                                            <span> @l </span>
                                                        }
                                                    </span>
                                                </li>

                                            </ul>
                                        }
                                    }
                                </li>
                            }
                        }
                    }
                </ul>
            }
        }



        public void showTree(Tree t)
        {
            <div class="tree-diagram">

                <ul>
                    <li class="root">
                        <b>@t.node</b>
                        @foreach (var i in t.connectives)
                        {
                            <b>@i.Item1</b>
                        }

                        @if (t.letter != '\0')
                        {
                            <b>(@t.letter)</b>;
                        }
                        @{ int height = t.height();

                            show(t);
                        }
                    </li>
                </ul>
            </div>
        }
    }


</body>
