@model AFAapp.Models.Tree


<!DOCTYPE html>
<head>
</head>

<body>

    @{
        try
        {
            showTree(new Tree(Model.letter, Model.state, Model.connectives, Model.children));

            if ((bool)ViewData["Accepted"])
            {
                <p class="right-col-p"> The word <strong> "@ViewData["inputWord"]" </strong> is accepted. </p>
            }

            else
            {
                <p class="right-col-p"> The word <strong> "@ViewData["inputWord"]" </strong> is <strong>not</strong> accepted. </p>
            }
        }
        catch { }

    }

    @functions
{

        public void showTree(Tree t)
        {
            @*padding - left:inherit;*@
@*style = "display:flex; justify-content: center"*@
@*text - align:left*@
            <div >
                <ul style="list-style-position: inside;">
                    <li>
                        <b>@t.state</b>
                        @foreach (var i in t.connectives)
                        {
                            <b>@i.Item1</b>
                        }

                        @if (t.letter != '\0')
                        {
                            <b>(@t.letter)</b>;

                        }
                        @if (t.children != null && t.children.Any())
                        {
                            for (int i = 0; i < t.children?.Count; i++)
                            {
                                showTree(t.children[i]);
                            }
                        }
                    </li>

                </ul>
            </div>

        }
    }
</body>